@charset "utf=8";
*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'SUIT-Regular';}
ul,ol,li{list-style: none;}
a{text-decoration: none; color:#111;}
html{font-size: 62.5%;}

@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}